YOUTUBE_API_KEY='' # The Youtube API Key that you get by joining Google developers
CHANNEL_ID='' # The Channel ID of the Youtube channel that you want to track
CDK_DEFAULT_ACCOUNT=12332452 # AWS account ID
CDK_DEFAULT_REGION='' # AWS region
LOCAL_AWS_ACCESS_KEY='' # AWS Access key
LOCAL_AWS_SECRET_KEY='' # AWS Secret key
TABLE_NAME='' # Name of table where meeting information would be stored
BUCKET_NAME='' # Name of the S3 bucket where transcripts would reside
PROXY_USER='' # Proxy username
PROXY_PASS_BASE='' # Proxy password base